/*  en-tête  */

@font-face {
    font-family:'dayrom';
    src: url('dayrom.eot') format('eot');
    src: url('dayrom.eot?#iefix') format('embedded-opentype'),
        url('dayrom.woff') format('woff'),
        url('dayrom.ttf') format('truetype'),
        url('dayrom.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'fa-brands-400';
    src: url('fa-brands-400.eot') format('eot');
    src: url('fa-brands-400.eot?#iefix') format('embedded-opentype'),
        url('fa-brands-400.woff') format('woff'),
        url('fa-brands-400.ttf') format('truetype'),
        url('fa-brands-400.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


#banniere
{
   padding-top: 30px;
  
   margin: auto;
    background-color: rgb(18, 18, 46);
    width: auto; 
    
}

#banniere h1
{
    color: white;
    font-family: Dayrom, serif;
    font-size: 2em;
}

#banniere h2
{
    color:rgb(140, 125, 90);
    font-family: Dayrom, serif;
    font-size: 0.8em;
    
}

.photo
{
   padding-left: 20px;  
   float: left;
}

.tittle
{
     text-align: center;
}


.metier
{
    text-align: center;
    flex-direction: row;
    color:rgb(140, 125, 90);
    font-size: 2em;
}


.coordonnees 
{
   padding-left: 50px; 
    display: flex;
    color: white;
    font-family: calibri, serif;
    font-size: 0.8em;
    
}

.adresse
{
    width: 40%;
}
.tel
{
    width: 30%;
}
.mail
{
    width: 30%;
}

#corps
{
    
    display: flex;
    margin: auto;
    width: auto; 

}

#corps h2
{
    color: rgb(18, 18, 46);
    font-size: 1em;

}

#corps h3
{
    color: rgb(140, 125, 90);
    font-size: 1em;
    margin-top: 50px;

}

.diplome

{
    padding-left: 20px;
    padding-top: 30px;
    width: 30%;
    background: rgb(231, 229, 229);

}

.experience
{
    padding-left: 20px;
    padding-top: 30px;
    width: 50%;
    margin-left: 20px;
}