/* Page */
body
{
    background-image: url(../img/fond_jaune.png);
    max-width: 75%;
    margin-left: 310px;
    margin-right: 310px;
    text-align: justify;
    font-family: dayrom;
    color: rgb(56, 55, 55);
       }

/* Police */
@font-face {
    font-family: 'ballpark';
    src: url('ballpark.eot') format('eot'),
        url('ballpark.woff') format('woff'),
        url('ballpark.ttf') format('truetype'),
        url('ballpark.svg') format('svg');
}

@font-face {
    font-family: 'dayrom';
    src: url('dayrom.eot') format('eot'),
        url('dayrom.woff') format('woff'),
        url('dayrom.ttf') format('truetype'),
        url('dayrom.svg') format('svg');
}


#bloc_page
{
    width: 900px;
   
}

header
{
    display: flex;
    
}

#titre_principal
{

}

#logo
{
    display: flex;
    font-family: ballpark;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
   
}



h1
{
    font-family: dayrom;
    font-size: 1.2em;
}

p
{
    font-family: dayrom;
    font-size: 0.8em;
}

nav
{
    font-size: 1em;
    margin-left: 300px;
    margin-top: 50px;
    float:right;
    
    
}
nav ul li
{
    list-style: none;
    text-align: center;
    display: inline;
}


#banniere_description
{
 
 height: 40px;
 background-color: rgb(15, 15, 15);
    margin-top: 160px;
    color: white;
       
}

#banniere_image
{
  height: 200px;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 7px 7px 20px black;
  background-image: url(../img/sanfrancisco.jpg);
}


.bouton_rouge
{
    background-image: url(../img/fond_degraderouge.png);
    width: 120px;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
    color: white;
    float: right;
    text-decoration:none;
    text-align: center;
        
}

Section
{
    display: flex;
}    

article
{
    width: 700%;
    margin-right: 20px;
}


aside
{
    width: 300%;
    margin-top: 20px;
    padding: 10px;
    background-color: grey;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px black;
    color: white;
}

footer
{
    display: flex;
    justify-content: space-around;
}

#tweet
{
    width: 500px;
}

#photos
{
    width: 500px;
}

#amis
{
    width: 500px;
    list-style-type: none;
    }

  /* LIENS */
li a:link 
{
  color: rgb(194, 33, 140); 
  text-decoration-line: none;
 
}

li a:hover 
{
    text-decoration: underline;
}