/*Imports fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


/* STYLE GENERAL */
html, body {margin:0; padding:0}
body {
background-color:white;
margin: 10px 10px 30px 30px;
}


#lien-externe
{

background:rgb(248, 14, 244);
color: rgb(189, 226, 25);
padding: 0.5em 0.5em;
text-align: center;
font-size: 1rem;
line-height: 1em;
letter-spacing: 0.2em;

}



/*  HEADER  */
header
{
    font-size: 3em;
    text-shadow: 7px 7px 20px black;
}

/* TITRE */
h1 {
font-family:arial, sans-serif;
font-size: 1.3em;
color:rgb(9, 3, 46);
background-color:transparent;
text-align:left;
}

h2 {
font-family:arial, sans-serif;
font-size: 1.2em;
color:rgb(206, 36, 141);
background-color:transparent;
text-align:left;
}

/* PARAGRAPHES */
p {
font-family:arial, sans-serif;
font-size:1.1em;
color:black;
background-color:transparent;
text-align:left;
margin-left:0px;
margin-right:0px;
}

/* LISTES */
li {
font-family:arial, sans-serif;
font-size:1em;
color:black;
background-color:transparent;
text-align:left;
margin-left:0px;
margin-right:0px;
}


/* LIENS */
/* NON VISITES */
a:link {
font-family:arial, sans-serif;
font-size:1em;
color:#654ecc;
background-color:transparent;
text-decoration:underline;
}

/* VISITES */
a:visited {
font-family:arial, sans-serif;
font-size:1em;
color:rgb(105, 31, 115);
background-color:transparent;
text-decoration:underline;
}

/* SURVOLES */
a:hover {
font-family:arial, sans-serif;
font-size:1em;
color:#0f073d;
background-color:transparent;
text-decoration:underline;
}

/* TABLEAUX */
/* TRAITS CADRE*/
a:active, a:focus {
font-family:arial, sans-serif; font-size:1em; }
table {
border-color:silver;
border-style:solid;
border-width:1px;
}

/* TABLEAUX */
/* TRAITS CELLULE*/
td {
font-family:arial, sans-serif;
font-size:1em;
color:black;
text-align:left;
background-color:transparent;
border-color:rgb(221, 219, 219);
border-style:solid;
border-width:1px;
}

/* BALISES AVEC ATTRIBUT CLASS */
.Apprentissage {
font-family:arial, sans-serif;
font-size: 1em;
color:rgb(25, 8, 13);
background-color:transparent;
text-align:left;
text-decoration:underline;
}

/* IMAGE FLOTTANTES */
.photocvflottante {
float:right;
margin-right:800px;
}

/* TEXTE PUR */
pre {
font-family:arial, sans-serif;
font-size:0.8em;
color:black;
background-color:transparent;
text-align:left;
margin-left:0px;
margin-right:0px;
}    


nav
{
display: flex;
}

nav ul
{
list-style-type: none;
width: auto;
display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a:link
{
    color: rgb(84, 84, 244);
}

nav a:visited
{
    color: rgb(126, 126, 246);
}

nav a:hover
{
    color:rgb(8, 8, 243);
}

.sites-tests
{
    display: flex;
    }
    
.sites-tests ul
    {
    list-style-type: none;
    width: auto;
    display: flex;
    }
    
.sites-tests li
    {
        margin-right: 15px;
    }
    
.sites-tests a:link
    {
        color: rgb(222, 67, 243);
    }
    
.sites-tests a:visited
    {
        color: rgb(225, 107, 240);
    }
    
.sites-tests a:hover
    {
        color:  rgb(221, 29, 246);
    }


.site-externe
{
    display: flex;
    }
    
.site-externe ul
    {
    list-style-type: none;
    width: auto;
    display: flex;
    }
    
.site-externe li
    {
        margin-right: 15px;
    }
    
.site-externe a:link
    {
        color:  rgb(241, 39, 113);
    }
    
.site-externe a:visited
    {
        color:  rgb(239, 87, 143);
    }
    
.site-externe a:hover
    {
        color: rgb(247, 16, 100);
    }



    .container {
        display: flex;
      justify-content: center;
         }
       
       .frame {
         border : 2px solid rgb(0, 0, 0);
         padding: 0.5rem;
         border-radius: 0.5rem;
         box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        
    
       }
       .board {
        background-color : rgb(9, 0, 9);
        height : 250px;
        width : 750px;
        
       }

       .logos {
        display: flex;
        justify-content: space-around
       }
       .photo {
        margin-top: 25px;
      max-height: 50px;
       }       
      
       .jump {
        transform-origin: 50% 50%;
        animation: jump 5s linear alternate infinite;
       }

       @keyframes jump {
        0% {
            transform: translate3d(0,0,0) scale3d(1,1,1);
        }
       40% {
                transform: translate3d(0,30%,0) scale3d(0.7,1.5,1);
        }
        100% {
            transform: translate3d(0,100%,0) scale3d(1.5,0.7,1);
        }
    }

    p {
        color: white;
        font-family: 'Fredericka the Great', serif;
    }
    
    p span {
        opacity: 0;
        animation: appear 0.2s forwards;
        animation-delay: calc(0.2s * var(--i));
    }
    @keyframes appear {
        0% {
            opacity: 0
        }
        100% { opacity: 1}
        
    }